<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>El familiar es: {{family_01.name}}. Su fecha de nacimiento es: {{family_01.birth_date}}. Observaciones: {{family_01.description}}</h3>
    <h3>El familiar es: {{family_02.name}}. Su fecha de nacimiento es: {{family_02.birth_date}}. Observaciones: {{family_02.description}}</h3>
    <h3>El familiar es: {{family_03.name}}. Su fecha de nacimiento es: {{family_03.birth_date}}. Observaciones: {{family_03.description}}</h3>
</body>
</html>